.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.dot {
    width: 100%;
    text-align: center;
    border-bottom: 3px dotted #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  .dot1 {
    background: #fff;
    padding: 0 10px;
  }

.con {
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}


svg {
    margin-top: 8px;
}

.dp {
    width: 60px;
    background-color: aquamarine;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin: 0px 9px;
    border-radius: 40px;
    font-size: 22px;
}

/* Transactions */
.sent {
    border: 1.5px solid black;
    padding-left: 15px;
}


img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

.cancel {
    margin-bottom: 10px;
    border: 2px solid black;
}